:root {
    --variable: brown;
}

.content {
    --variable: white; /* !global no está permitido en CSS */
    background-color: var(--variable); /* white */
}

.sidebar {
    background-color: var(--variable); /* brown */
}